.custom-background { /* Pad site to account for background image */
	padding: 1em;

	@media #{$tablet-up} {
		padding: 2em;
	}//@media

	.site {
		background: $body-bg; /* Fallback for when there is no custom background color defined. */
	}
}//.custom-background
