//TODO: work this out
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	&:hover {
		opacity:.8;
	}
	@extend .figure;
	position: relative;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-bottom: 0;
	width: 100%;

	img {
		width: 100%; //TODO: is this the right thing to do?
	}

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}


	@include media-breakpoint-down(xs) {
		div[class*="gallery-columns"] & {
			max-width: 50%;
		}
	}
}

.gallery-caption {
	@extend .figure-caption;
	@extend .py-1;
	color: white;
	background-color: rgba(0,0,0,0.75); //TODO: bootstrap var this
	display: none;
	position: absolute;
	width: 100%;
	bottom: 0;

	.gallery-item:hover & {
		display: block;
	}
}
