//global toggle
.toggle_block {
  @include clearfix;

  ul {
    margin: 0;
    padding: 0;
  }
}

.toggle-block-item {
  list-style: none;
  margin-bottom: .25em;
}

.tab-link {
  display: block;
  font-weight: 600;
  text-decoration: none;
  background-color: lighten($light-gray,2.5);
  padding: .5em .75em;
  border-radius: $base-border-radius;
  border: $base-border;

  &,
  &:focus {
    color: inherit;
  }

  &:hover {
    color: $action-color;
  }

  &:focus {
    outline: none;
  }

  &:before {
    display: inline-block;
    content: '+';
    margin-right: 4px;
  }

  &.is-active {
    background-color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:before {
      transform: rotate(-45deg);
    }
  }
}

.tab-content {
  display: none;
  background-color: white;
  padding: 1.5em .75em;
  width: 100%;
  border: $base-border;
  border-top: none;
  border-bottom-left-radius: $base-border-radius;
  border-bottom-right-radius: $base-border-radius;
}

//TABS
.toggle-block-tabs {

  .toggle-block-item {
    @media #{$tablet-up} {
      display: inline;
    }

    .tab-link {
      @media #{$tablet-up} {
        @include border-bottom-radius(0);
        border-bottom: none;
        margin:0 4px -1px 0;
        display: inline-block;
        position: relative;
        z-index: 1;
      }

      &.is-active {
        background-color: white;
        @media #{$tablet-up} {
          border: $base-border;
          border-bottom-color: white;
        }
      }

      &:before {
        @media #{$tablet-up} {
          display: none;
        }
      }
    }//tab-link
  }//toggle-block-item

  .tab-content {
    @media #{$tablet-up} {
      border: $base-border;
      border-bottom-left-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      float: left;
    }
  }//tab-content

}
