//fixed header
.fixed-header #masthead {
    position: absolute;
    width: 100%;
    top: -400px;
    background:$peri;
    z-index: 9999;

    @media #{$tablet-up} {
      position: fixed;
    }


      .custom-logo-link,
      .site-title,
      li > a,
      #site-search .search-submit {
        transition: all $base-duration * 2 $base-timing;
      }

      &.minimize {
        top:0 !important;

        * {
          transition:none !important;
        }
        width:100%;
        left:0;
        right:0;
        //shadow?
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);

        .custom-logo-link,
        .site-title {
          transform: scale(.75);
          transition:none;
          @include margin(($small-spacing * .333) $small-spacing);
        }
        li > a,
        #site-search .search-submit {
          @include padding($small-spacing);
        }
      }
    //}
}//fixed-header

//admin-bar
.admin-bar.fixed-header {
  .site-header {
    top: 32px;
    @media (max-width: 782px) {
      position: absolute !important;
      top: 46px;
    }
  }
}
