.site-contact {
  span {
    display:block;
    margin-bottom:.5em;
  }
  font-family:$poppins;
  @include padding($base-spacing null);

  @media #{$tablet-up} {
    float: left;
    width: 30%;
  }

  .custom-logo-link {
    margin: 0 0 $base-spacing;
    img {
      max-width:200px !important;
    }
  }

  .footer-center & {
    text-align: center;
    float: none;
    width: 100%;
  }

}//.site-contact
